@model QuestionDTO
@{
    ViewData["Title"] = "Edit Question";
}
<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_ValidationPartial")

<form asp-action="Edit" method="post">
    @await Html.PartialAsync("_QuestionEditPartial", Model)
</form>
