@model SurveyDTO
@{
    ViewData["Title"] = "Publish Survey Result";
}
<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_ValidationPartial")

<p class="alert-success">@ViewBag.Message</p>
@await Html.PartialAsync("_SurveyDetailPartial", Model)
